.sidebar {
  position: absolute;
  left: -15vw;
  height: 100%;
  width: 15vw;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
  display: flex;
}
.sidebar-toggle {
  position: absolute;
  top: 20%;
  right: -60px;
  height: 60px;
  width: 60px;
  z-index: 1;
}
.content {
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
  height: 100%;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
  z-index: -4;
}
.sidebar.open {
  left: 0;
}
.content.open {
  left: 15vw;
}
