.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.CustomBar {
  width: 90%;
  position: relative;
  right: 50%;
}

.Page {
  display: flex;
  flex-direction: column-reverse;
}

.MyMap {
  position: relative;
  width: 50%;
}

.search-building-panel {
  width: 100%;

  border: 2px solid #c6c6c6;
  border-bottom-left-radius: 80px 80px;
  justify-content: center;
  align-items: center;
  overflow: visible;
  flex-direction: row;
  gap: 2rem;
  flex: 1;
}

.toggleButton {
  background-color: #aeccf1;
  border: none;
  color: white;
  font-size: 40px;
  width: 40px;
  /* padding: 150px 32px; */
}
